@use "styles/starter-complet";
@use "styles/colors";

:root {
  --bg: var(--grey-1);
  --timeline-color: var(--grey-5);
  --sg-red: #d32f2f; // Rouge Singapour
}

body {
  background-color: var(--bg);
}

[href] {
  max-width: 100%;
  overflow: initial;
  --text-spacing: 0;
  --title-spacing: 0;
  color: var(--indigo-8);
  display: inline;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0;
  background-image: linear-gradient(0deg, currentColor, currentColor),
    linear-gradient(0deg, currentColor, currentColor);
  background-position: 0% 100%, 0% calc(100% - 0.0625em);
  background-repeat: no-repeat, no-repeat;
  background-size: 0 calc(0.0625em * 2), 100% 1px;
  transition: background-size 0s;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    --underline-hover-width: 100%;
    background-size: 0 calc(0.0625em * 2), 100% 2px;
  }
  & i[class^="fa-"] {
    margin: 0 -0.125rem 0 3px;
    line-height: 1;
    font-size: 0.85em;
    vertical-align: 2px;
  }
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
